#left-column {
    background: linear-gradient(to right, red, white);
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#right-column {
    background: linear-gradient(to left, green, white);
    align-items: center;
    justify-content: center;
}

#chef-img {
    padding-top: 1rem;
}

#center-column {
    min-height: 100vh;
    
}

.content {
    margin-top: 4rem;
    
}
.about-content {
    flex-direction: column;
    justify-content: center;
    width: 20rem;
}
.contact-content {
    flex-direction: column;
    justify-content: center;
    width: 20rem;
}

.navbar {
    margin-top: 1rem;
    border: 0.1rem solid;
    border-radius: 2rem;
}

#btn-cart {
    
    background-color: rgb(255, 255, 255);
    border: 0.5rem solid;
    border-color: brown;
    margin-bottom: 6rem;
}

.cart-item {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}
.quantity-cart{
    margin-top: 1rem;;
    color: black;
    font-weight: bold;
}
#btn-cart > img {
    padding: 0.5rem;
    width: 6rem;
}
.weather-card {
   width: 50%;
   min-width: min-content;
   border-radius: 2rem;
   border: 0.1rem solid;
   align-items: center;
   text-align: center;
   padding: 1rem;
   background: rgba(132, 187, 155, 0.356);
}

h1, h2, h5 {
    font-family: cursive;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#address {
    font-weight: bold;
    font-size: large;
}


#header-text-menu {
    text-align: center;
}

#menu-header {
    margin-bottom: 2rem;

}
.menu-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: start;
}

.product-price {
    font-weight: bold;
    font-size: large;
    color: green;
} 

.scroll-bar {
    padding-right: 1rem;
    overflow-y: scroll; 
    height: 35rem; 
    width: auto;
}

#mymap {
    background: url(./img/googlemaps.webp);
    border: 0.1rem solid;
    border-radius: 2rem;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding-top: 76.25%;
}

#mymap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

